@using EmployeesApp.Web.Models
@model IEnumerable<Employee>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <ul>
        @foreach(var item in Model)
        {
            <li>Name: @item.Name </li>
            <li>Email: @item.Email </li>
        }
        </ul>
        <a asp-controller ="Employees" asp-action="Index">Home</a> <br />
        <a asp-controller="Employees" asp-action="Create">Add Employee</a>

    </body>
    </html>