@using EmployeesApp.Web.Models
@model IEnumerable<Employee>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <ul>
        @foreach(var item in Model)
        {
            <li>
                 <a asp-controller="Employees" asp-action="details" asp-route-id="@item.Name">@item.Name </a>
            </li>
        }
        </ul>
        <a asp-controller="Employees" asp-action="Create">Add Employee</a>

    </body>
    </html>